<div class="mt-5 container py-3">
  <div class="row card card-color border-black">

    <!-- Principal -->
    <div class="py-5 col-md-9 mx-auto">

      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold">
          Editar Filme
        </h1>
      </div>


      <form [formGroup]="formFilme" class="mt-4">

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Imagem: </label>
          <div>
            <input #imagem type="file" accept="image/*" (change)="imagemSelecionada(imagem)"
              formControlName="imagemInput">
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Título:</label>
          <input [ngClass]="titulo?.touched && titulo?.invalid ? 'is-invalid' : ''" formControlName="titulo"
            class="form-control" type="text" placeholder="Insira o título do filme" />
          <div class="invalid-tooltip" *ngIf="titulo?.touched && titulo?.invalid">
            <span *ngIf="titulo?.errors?.['required']">O título precisa ser inserido.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Descrição:</label>
          <input [ngClass]="descricao?.touched && descricao?.invalid ? 'is-invalid' : ''" formControlName="descricao"
            class="form-control" type="text" placeholder="Insira a descricao do filme" />
          <div class="invalid-tooltip" *ngIf="descricao?.touched && descricao?.invalid">
            <span *ngIf="descricao?.errors?.['required']">A descrição precisa ser preenchida.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Duração:</label>
          <input [ngClass]="duracao?.touched && duracao?.invalid ? 'is-invalid' : ''" formControlName="duracao"
            class="form-control" type="time" placeholder="Insira a duracao do filme" />
          <div class="invalid-tooltip" *ngIf="duracao?.touched && duracao?.invalid">
            <span *ngIf="duracao?.errors?.['required']">A duração precisa ser preenchida.</span>
          </div>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button (click)="gravar()" type="button" class="btn btn-primary px-5 btn-outline-dark">
            <i class="pi pi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/filmes/listar" type="button" class="btn btn-outline-dark px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>