<div class="mt-5 container py-3">
  <div class="row card card-color border-black">

    <!-- Principal -->
    <div class="py-5 col-md-9 mx-auto">

      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold">
          Salas
        </h1>
      </div>

      <!-- Listar Salas -->
      <div class="mt-5 card bg-color border-black">

        <table class="table table-color table-hover mt-2">
          <thead class="thead-dark text-center">
            <tr>
              <th>Nome da Sala</th>
              <th>Nº de Assentos</th>
            </tr>
          </thead>

          <tbody class="text-center">
            <tr *ngFor="let s of (salas$ | async)">
              <td>{{ s.nome }}</td>
              <td>{{ s.quantidadeAssentos }}</td>

            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
</div>